button {
    width: 160px;
    border: none;
    height: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}

button:active {
    box-shadow: none;
}

h2 {
    background-color: rgb(159, 189, 105);
    border-style: double;
    font-size: large;
    width: 70%;
    /* height:20vh; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 15%;
    padding: 0%;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*-----------------------------*/

button {
    width: 160px;
    border: blue;
    border-style: solid;
    border-width: 0.4px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    background-color: cyan;
    margin-left: 80%;
    margin-top: 50px;
}

button:active {
    box-shadow: none;
}

button:hover {
    background-color: rgb(20, 136, 136);
    color: white;
}

h2 {
    background-color: rgb(159, 189, 105);
    border-style: double;
    font-size: large;
    width: 70%;
    /* height:20vh; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 15%;
    padding: 0%;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    background-color: rgb(238, 238, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    border-color: green;
    background-color: rgb(219, 219, 219);
}
